@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
/* *UNIVERSAL */
body {
    background-color: rgb(233,196,106);
    font-family: 'Italiana', serif !important;
    font-size: larger !important;
    font-weight:bold;
}
input{
    font-family: 'Italiana', serif !important;
    font-size: large !important;
    font-weight:bold;
}
.container {
    width: 80%;
    margin: auto;
}
.btn {
    background-color: rgb(233,196,106);
    font-weight: bold;
    border: 2px solid rgb(233,196,106);
    margin: 1em auto;
    /* width: 15%;
    display: block; */
    cursor: pointer;
    /* padding: 1em 0em; */
    border-radius: 5px;
}

.btn:hover {
    border: 2px solid black;    
}
/* *Availabe Pizzas */
.pizzas {
    /* display: flex; */
}

.pizza {
    /* border:1px solid; */
    margin: 0.5em;
    padding: 0.5em;
    width: 15em;
    border-radius: 0.25em;
    display:inline-block;
    background-color: #2EC4B6;
    color: #011627;
}

/* *Cart */
.cart {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border:0.5px solid ;
    padding: 0.5em
}

.message {
    padding: 1em;
    /* color:#e71d36; */
    font-size:x-large;
    font-weight: bold;
}

.btnRound {
    /* background-color: rgb(233,196,106);
    font-weight: bold;
    border: 2px solid rgb(233,196,106);
    display: block;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border-radius: 50%; */
    background-color: rgb(233,196,106);
  /* color: white; */
  border: none;
  /* border:2px solid rgb(233,196,106); */
  /* padding: 5px; */
  /* font-size: 20px; */
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.cartRow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cartCol {
    width:5%;
}

.message {
  font-size:x-large;   
}

/* *Footer styling */
.contact-us {
    display: block;
    background-color: rgb(84, 150, 177);
    border-radius: 10px 10px 30px 10px;
    padding: 1em;
    margin: 0.5em;
    font-weight: bold;
}
.socials{
    display:inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
  }
  
.address {
    display:inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
    float: right;
}